### **Date Değişkenleri Üretmek**

In [2]:
##################### GEÇMİŞ TANIMLAMALAR ##############################

# Kütüphaneler
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
# pip install missingno
import missingno as msno
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler


# Pandas ayarları
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)


# Veri setleri
def load_application_train():
    data = pd.read_csv('../01-outliers/application_train.csv')
    return data

def load():
    data = pd.read_csv('../01-outliers/titanic.csv')
    return data

In [3]:
dff = pd.read_csv("course_reviews.csv")
dff.head()

   Rating            Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0   5.000  2021-02-05 07:45:55  2021-01-25 15:12:08     5.000            0.000               0.000
1   5.000  2021-02-04 21:05:32  2021-02-04 20:43:40     1.000            0.000               0.000
2   4.500  2021-02-04 20:34:03  2019-07-04 23:23:27     1.000            0.000               0.000
3   5.000  2021-02-04 16:56:28  2021-02-04 14:41:29    10.000            0.000               0.000
4   4.000  2021-02-04 15:00:24  2020-10-13 03:10:07    10.000            0.000               0.000

In [4]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

In [5]:
# Datetime yapalım
dff['Timestamp'] = pd.to_datetime(dff['Timestamp'],format='%Y-%m-%d')

In [6]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   datetime64[ns]
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 202.8+ KB

In [8]:
# Timestamp değişkeni görüldüğü üzere datetime dtype'ında oldu.
# Artık yıl,ay,gün gibi özellikleri alabiliriz.

# Yıl
dff['year'] = dff['Timestamp'].dt.year

# Ay
dff['month'] = dff['Timestamp'].dt.month

# Gün
dff['day'] = dff['Timestamp'].dt.day

# Yıl farkı
dff["year_fark"] = date.today().year - dff["Timestamp"].dt.year

# Ay farkı
dff["month_fark"] = (date.today().year - dff["Timestamp"].dt.year) * 12 + date.today().month - dff["Timestamp"].dt.month

# Gün adı
dff["day_name"] = dff["Timestamp"].dt.day_name()

In [9]:
dff.head()

   Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  year  month  day  year_fark  month_fark  day_name
0   5.000 2021-02-05 07:45:55  2021-01-25 15:12:08     5.000            0.000               0.000  2021      2    5          1          17    Friday
1   5.000 2021-02-04 21:05:32  2021-02-04 20:43:40     1.000            0.000               0.000  2021      2    4          1          17  Thursday
2   4.500 2021-02-04 20:34:03  2019-07-04 23:23:27     1.000            0.000               0.000  2021      2    4          1          17  Thursday
3   5.000 2021-02-04 16:56:28  2021-02-04 14:41:29    10.000            0.000               0.000  2021      2    4          1          17  Thursday
4   4.000 2021-02-04 15:00:24  2020-10-13 03:10:07    10.000            0.000               0.000  2021      2    4          1          17  Thursday